$c: 'fg', #ffffff;
$c: 'bg', #191a2e;
$c: 'cur', #8d92ff;
$c: 'cmt', #8d92ff;
$c: 'sel', #7f848e;
$c: 'r', #ff5555;
$c: 'y', #fde181;
$c: 'o', #ffb86c;
$c: 'g', #20e3b2;
$c: 'c', #2cccff;
$c: 'b', #9b87fd;
$c: 'm', #ff6bcb;
$c: 'fg2', #f8f8f2;
$c: 'bg2', #282a36;
$c: 'cur2', #6272a4;
$c: 'cmt2', #6272a4;
$c: 'sel2', #44475a;
$c: 'r2', #ff6e6e;
$c: 'y2', #f1fa8c;
$c: 'o2', #eac394;
$c: 'g2', #50fa7b;
$c: 'c2', #8be9fd;
$c: 'b2', #bd93f9;
$c: 'm2', #ff79c6;
